h1{
    color:#ED2B00; 
 }
 h2{
     color: #2aab10;
 }
 h3{
     color: #116bb4;
 }
 h4{
     color: #d8128c;
 }
 h5{
     color: #bbe918;
 }
 h6{
     color: #00aaedc0;
 }
 
 button {
     color: #0f0d0d;
     background-color: #e45959;
 }
 
 .header{
     margin-top: 30px ;
     margin-left: 20px;
     margin-right: 20px;
     font-size: 0;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     
 }
 .header >*{
     display: inline-block;
     font-size: 20px;
     height: 100%;
     vertical-align: middle;
     line-height: 45px;
    
     
 }
 li {
     display: inline;
 }
 .logo{
     
     height: 100%;
     
 }
 .navbar{
    
     text-align: left;
     color: #0e0d0d;
     font-weight: 500;
     
 }
 
 
 .actions{
     
     text-align:left;
     font-size: 14px;
     
 }
 .actions >* {
     margin-left: 15px;
     margin-right: 15px;
 }
 
 .publish h3{
     color: #5c100a;
 }
 
 .video{
     display: flex;
     width: 75%;
     margin-left: 100px;
     margin-right: 50px;
     
    
 }
 
 .features{
     display: grid;
     padding: 5% 10%;
     grid-template-columns: repeat(2, 550px); 
     grid-template-rows: repeat(2, 300px);
 }
 
 /* article{
     background-color: #5c100a;
     margin: 10px;
     width: 40%;
     height: 50px;
 } */
 
 .features .feature-card {
     margin-bottom: 30px;
     margin-left: 15px;
     margin-right: 15px;
     background-color: #efe7f0;
     border: 2px solid #4c06f0;
     display: flex;
     align-items: center;
     overflow: hidden;
 
 }
 
 .features .feature-card .feature-content {
     padding: 50px 30px 30px 30px;
     flex: 2;
     
 }
 
 .features .feature-card .feature-content >*{
    margin-bottom: 1rem;
     
 }
 
 .features .feature-card .feature-content img {
     width: 60px;
     
 }
 
 .features .feature-card .feature-content h3 {
     font-size: 20px;
     color: #e61c0d;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }
 
 .features .feature-card .feature-content p {
     font-size: 16px;
     color: #0e0707;
 }
 
 .features .feature-card .feature-content a {
     font-size: 16px;
     color: #00ed14;
 }
 
 .features .feature-card .feature-image img{
     flex: 1;
     width: 80%;
     position: relative;
     right: -50px;
     height: 80%;
 }
 
 .features .feature-card .feature-image figure,
 .features .feature-card .feature-image img {
     margin-top: 0;
     height: 100%;
 }
 
 .examen .examen-features h1{
     font-size: 30px;
     font-family: Arial, Helvetica, sans-serif;
     color: #0c0c0c;
     
     
 }
 .examen .examen-features p{
     font-size: 15px;
     font-family: Arial, Helvetica, sans-serif;
     color: #080808;
     
     
 }
 
 .examen  >*{
     
     background-color: #07f5e196;
    text-align: center; 
     
 }
 .feature .feature-cards {
     margin-bottom: 50px;
     margin-left: 10px;
     margin-right: 5px;
     background-color: #06d4f8fd;
     display: flex;
     align-items: center;
     overflow: hidden;
 
 }
 
 .feature .feature-cards .feature-figure img{
         padding: 30px 20px 20px 20px;
         flex: 2;
         margin-bottom: 0rem;
         width: 200px;
     }
 
     .feature{
        
         display: flex;
         padding: 0% 0%;
         grid-template-columns: repeat(4, 2000px); 
        
     }
     .feature .feature-cards .feature-contents{
         text-align: center;
     }
 
     .tarea{
         display: flex;
         width: 75%;
         margin-left: 100px;
         margin-right: 50px;
         
        
     }
     
     .anuncio{
         display: grid;
         padding: 5% 10%;
         grid-template-columns: (1500px); 
         
     }
     .tarea{
         background-color: #dd88b0;
     }
     
     .anuncio .feature-anuncio {
     margin-bottom: 30px;
     margin-left: 15px;
     margin-right: 15px;
     background-color: #d4f578;
     border: 2px solid #0a0404;
     text-align: center;
     
     align-items: center;
     overflow: hidden;
     }
     .anuncio .feature-anuncio .feature-figures img{
         padding: 30px 30px 30px 30px;
         flex: 2;
         margin-bottom: 2rem;
         width: 100px;
         align-items: center;
        
     }
 
     .tarea .parrafo h1{
         font-size: 50px;
         font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
         color: #000000;
         text-align: center;
     }
 
 
 
 
 @media (max-width:575px){
 
     .navbar, .actions{
         display: none;
     }
     h1{
         font-size: 30px;
     }
     .publish > form{
         flex-direction: column;
         display: flex;
         
     }
     .publish > form > div {
         height: 50px;
         margin-top: 10px;
     }
     .publish > form > div > input{
         width: 65%;
     }
     main{
         margin-top: 130px;
     }
 
     .features {
         grid-template: repeat(4,1fr) /1fr;
     }
 
    
     
     
 }
 
 /** dispositivos pequeños en vista landscape (horizontal) */
 @media (min-width: 576px) and (max-width: 767px) {
   
 }
 
 /** dispositivos medianos (tablets) */
 @media (min-width: 768px) and (max-width: 991px) {
   
 }
 
 /** dispositivos grandes (desktops) */
 @media (min-width: 992px) and (max-width: 1199px) {
   
 }
 
 /** dispositivos extra grandes (monitores grandes, tvs) */
 @media (min-width: 1200px){
 
 }